body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b; }

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px; }

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table; }
  @media screen and (max-width: 580px) {
    .table {
      display: block; } }

.row {
  display: table-row;
  background: #f6f6f6; }
  .row:nth-of-type(odd) {
    background: #e9e9e9; }
  .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153; }
  .row.green {
    background: #27ae60; }
  .row.blue {
    background: #2980b9; }
  @media screen and (max-width: 580px) {
    .row {
      padding: 8px 0;
      display: block; } }

.cell {
  padding: 6px 12px;
  display: table-cell; }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 12px;
      display: block; } }

.cell-b {
  color: #2980b9;
  padding: 6px 12px;
  display: table-cell; }
  @media screen and (max-width: 580px) {
    .cell-b {
      padding: 2px 12px;
      display: block; } }

/*# sourceMappingURL=results.css.map */
