html, body, h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20;
}

#commaLabel {
	width: 150px;
}

#submitBtn {
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	width: 150px;
	background-color: blue;
	font-weight: 800;
	color: white;
}

#productIN {
	margin: 0 auto;
	display: block;
	width: 150px;
	height: 45px;
	text-align: center;
	margin-bottom: 5px;
	word-break: break-word;
}

.center {
	margin: 0 auto;
	display: block;
}

#cancelBtn {
	background-color: darkred;
	color: white;
	font-weight: 550;
	display: none;
	margin: 0 auto;
	box-shadow: 1px;
	border: none;
	text-decoration: none;
	margin-top: 7px;
}